@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ruge+Boogie&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Agdasima;
}

body, html {
    overflow-x: hidden;
}



.logo{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: "Lobster", sans-serif;

}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #d5bdaf;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#writeup p{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    margin-bottom: -110px;
}

#writeup h1{
    margin: 0;
    padding: 0;
    margin-top: 100px;
    text-align: center;
    font-size: 2rem;
    

}



#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  

}

#navbar li{
    list-style: none;
    text-decoration: none;
    padding: 0 15px;
}

#navbar a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #e3d5ca;
    transition: .3s ease;
    position: relative;
}

#navbar a:hover,
#navbar a.active{
    color: #e76f51;
}


#navbar a:hover::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #e76f51;
    bottom: -4px;
    left: 2px;
    
}


.cart-header{
    position: relative;
}

.cart-quantity{
    position: absolute;
    top: -19px;
    right: 10px;
    font-size: 23px;
    color: #f35b34;
}

#header-cart-quantity{
    position: absolute;
    top: -19px;
    right: 4px;
    font-size: 23px;
    color: #f35b34;
}

#hero{
    background-image:url(IMAGES/heroImage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: grey;
    height: 90vh;
    width: 100%;
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

#hero h1,h2,h3,h4{
    max-width: 400px;
}

#hero h1{
    padding-bottom: 10px;
    color: #000;
    animation: slideright 1s ease-in-out;
    color: #ff4f23;


}

#hero h2{
    font-size: 38px;
    font-weight: 700;
    animation: slideright 1.5s ease-in-out;
    padding-bottom: 10px;
    color: #ff4f23;


}

#hero h3{
    font-size: 26px;
    font-weight: 700;
    animation: slideright 2s ease-in-out;
    padding-bottom: 5px;
    color: #ff4f23;


    
}

#hero h4,
#hero p{
    font-size: 26px;
    color: #ff4f23;

}

#hero h4{
    animation: slideright 2.5s ease-in-out;
    margin-bottom: 10px;
  
}

.highlight {
    color: red; /* Red to grab attention */
    font-weight: bold;
    font-size: 30px;
}

.brand-name{
    color: #ff4f23;
}

.shop-btn{
    padding: 10px 15px;
    background-color: #ff4f23;
    width: 100px;
    animation: slideright 2s ease-in-out;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    transition: background-color .3s;
    cursor: pointer;

}

.shop-btn:hover,
.shop-btn-women:hover{
    background-color: #f35b34;
    opacity: .8;
}

.shop-btn-women{
    padding: 10px 18px;
    background-color: #ff4f23;
    animation: slideright 2s ease-in-out;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    transition: background-color .3s;
    cursor: pointer;

}

#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;  
    margin: 0 auto; 
    width: 100%;
    position: relative;
}



.btnContainer{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 35px;    
    margin-bottom: 40px;

}

#showAll{
    width: 150px;
    outline: none;
    border: none;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;

}

 
#products h1{
    margin-bottom: 10px;
    margin-left: 60px;
    font-size: 60px;

}

#products h2{
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    box-sizing: border-box;
    padding: 0 60px;
    margin-top: 130px;
}

.product{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #f5f9f6;
    padding: 30px 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.04);
    transition: .2s ease;

}

.product:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.08);
}



.product-container .product img{
    width: 95%;
    object-fit: contain;
    align-self: center;
}



.product h4{
    margin-bottom: 5px;
    color: #f35b34;
}

.product .description{
  margin-left: 15px;
  
}

.description .slash-price-container{
    position: relative;
}

.slash-price-container .slash{
    position: absolute;
    top: 11px;
    width: 100%;
    height: 0.8px;
    background-color: black;
    max-width: 45px;
    font-weight: 400;
}

.slash-price-container h4{
    color: black;
    font-weight: 600;
    margin-right: 1.1rem;
}

.slash-price-container p{
    color: #f35b34;
    font-weight: 700;

}

.price-container{
    display: flex;
}

.icon{
    margin-bottom: 10px;
    margin-top: 10px;
}

.cart-detail{
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    align-items: center;

}

.cart-detail h5{
    font-size: 18px;
}

#products .product .cart {
    background-color: #fff;
    color: #ff0000;
    cursor: pointer;
    font-size: 30px;

}

.product a{
    text-decoration: none;
 
}

#special{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100vw;
    padding: 10px;
    position: relative;

}

#special h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;

}

#special h2{
    font-size: 25px;
    margin-bottom: 20px;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 90%;
    object-fit: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1; 
    object-position: center;
}



.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
}

#banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;

}

#banner .banner-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    text-align: center;
    height: 50vh;
    margin: 20px;
    border-radius: 20px;
    transition: .3s ease;
    
}

.banner-box h1{
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}

.banner-box h3{
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
}

.banner-box button{
    outline: none;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    color: #e76f51;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s ease;
}

.banner-box button:hover{
    opacity: .6;
}


#banner .banner1{
    background-image: url(IMAGES/sectionPictures/image1.webp);
    background-position: center;
    background-size: cover;
}
#banner .banner2{
    background-image: url(IMAGES/sectionPictures/image2.webp);
    background-position: center;
    background-size: cover;
}
#banner .banner3{
    background-image: url(IMAGES/sectionPictures/image5.webp);
    background-position: center;
    background-size: cover;
}
#banner .banner4{
    background-image: url(IMAGES/sectionPictures/image8.webp);
    background-position: center;
    background-size: cover;
}
#banner .banner5{
    background-image: url(IMAGES/sectionPictures/image7.webp);
    background-position: center;
    background-size: cover;
}

.containers{
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#testimonials{
    padding: 20px;
}

#testimonials h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

#testimonials .container{
    max-width: 500px;
}

#testimonials .container .profile{
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#testimonials .container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: grey;

}

#testimonials .container p{
    font-size: 18px;
}

#newsletter{
    background: linear-gradient(40deg, #d5bdaf, #e76f51, #f35b34, #ff0000);
    padding: 30px;
}

#newsletter .row1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 50px;  
}

#newsletter .container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#newsletter .container1 p{
    margin-bottom: 10px;
    font-size: 20px;
}

#newsletter .container .icon{
    margin-right: 5px;
}

#newsletter #contact p{
    font-size: 22px;
}

#newsletter #contact a{
    color: #fff;
    font-size: 20px;
}

#newsletter .container4 h1{
    font-weight: 500;
    color: #fff;
    font-size: 35px;

}

#newsletter .container4 h2{
    color: #d5bdaf;
    font-size: 20px;
    margin-bottom: 5px;
}

#newsletter .container4 h4{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
}

#newsletter .container4 span{
    color: #ff0000;
    font-weight: 700;
    font-size: 23px;
}

#newsletter .container4 input{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 300px;
    margin-bottom: 10px;
}


#newsletter .container4 button{
    padding: 10px 20px;
    width: 100px;
    font-size: 18px;
    color: #f35b34;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#newsletter .container4 button:hover{
    opacity: .7;
}

#newsletter .container2,
#newsletter .container3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletter .container2 a,
#newsletter .container3 a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
    font-size: 20px;
}


#newsletter .payment-method{
    display: flex;
    flex-direction: column;
    width: 500px;
    
    
}

.payment-method .image{
    width: 50px;
    background: grey;
}

.payment-method h1{
    margin-bottom: 8px;
}

.payment-method IMG{
    margin-bottom: 8px;
}

.icon-container2 p{
    font-style: italic;
}

.icon-container2 .copy-icon{
    background: transparent;
}

#newsletter .footer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#newsletter .icon-container2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.product-detail-container{
    display: flex;
    padding-top: 150px;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 150px;
    padding-right: 70px;
    padding-left: 70px;
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
    margin-right: 80px;
    margin-left: 80px;
    padding-bottom: 100px;
    margin-top: 150px;
    row-gap: 100px;

}

.main-container{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    justify-content: space-around;
   
}

.product-image-container img{
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.5);

}



.product-detail-container .description-container{
    max-width: 400px;
}

.product-detail-container .product-image {
    max-width: 50px;
}

.product-detail-container h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 15px;
}

.product-detail-container #product-price{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}

.product-detail-container p{
    max-width: 500px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.color-warning,
.size-warning{
    text-align: center;
    color: #ee2626;
    margin-left: 5px;
    display: none;
   
}

.color-warning.active,
.size-warning.active{
    display: flex;
}

.color-warning p,
.size-warning p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 14px;
}

.warn-icon{
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
    color: #ee2626;
}



.product-detail-container .options{
    display: flex;
    flex-direction: column;
}

.options label{
    font-size: 20px;
    margin-bottom: 10px;
}

.options select{
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 5px;

}

.options option{
    font-size: 18px;
}

.options #quantity{
    padding: 10px 20px;
   
}

.options input{
    font-size: 20px;
    margin-bottom: 10px;
}

.product-detail-container .buttons{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.buttons .button{
    padding: 10px 0;
    border: none;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 5px;
    transition: all .5s ease;
}

.buttons #buy-now{
    background-color: black;
    color: #fff;
}

.buttons #buy-now:hover{
    opacity: .8;
    
}

.buttons #add-to-cart:hover{
     background-color: black;
     color: #fff;    
}

.cart-img .cart-details span{
    width: 300px;
}

#popup{
    margin-top: 80px;
    padding: 120px 70px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    max-width: 600px;
    transform: translate(60%, -10%);
    display: none;
    animation: popup .5s ease-in-out;
    z-index: 100;
    


}

#popup.active{
    display: block;
}

@keyframes popup {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}

.font{
    position: absolute;
    top: 60px;
    right: 20px;
}

#popup h1{
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

#popup h3{
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#popup button{
    padding: 10px 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

#cart-container{
    padding-top: 130px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 170px;

}


#cart-container .header-title{
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

#cart-container .cart-detail-container{
    margin-top: 30px;
    align-items: flex-start;
    margin-bottom: 30px;
    display: flex;
}

.main-cart-wrapper {
    display: flex;
    flex-direction: column; /* Stack each main-cart item vertically */
    flex-basis: 70%; /* Occupies 70% of the container width */
}

.cart-detail-container .main-cart{
    display: flex;
    margin-right: 200px;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #e76f51;


}

.main-cart .cart-img img{
    width: 100px;
    height: 150px;
    border-radius: 4px;
    margin-right: 30px;
}

.main-cart .cart-img{
    display: flex;
}

.cart-img .cart-details h3{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.cart-img .cart-details h5{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 6px;
}

.cart-img .cart-details h4{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 6px;

}
.cart-details .more{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 6px;
    cursor: pointer;

}

.cart-details .less{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 6px;
    display: none;
    cursor: pointer;


}

.cart-details .icon{
    margin: 0;
    margin-left: 6px;
    color: rgb(199, 199, 199);
}

.main-cart .second-container{
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
}

.second-container .cart-final-quantity{
    display: flex;
    column-gap: 1em;
    height: 35px;
    font-size: 1rem;
    padding: 8px 15px;
    text-align: center;
    border: 1px solid rgb(182, 182, 182);
}

.second-container .totalPrice{
    font-size: 1.2rem;
}

.second-container .minus-icon,
.second-container .plus-icon,
.delete-button .delete-icon{
    cursor: pointer;
}

.order-summary {
    flex-basis: 30%; /* Occupies the remaining width */
    top: 0;
}

.order-summary h2{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.order-summary .contain{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.after-tax-prices{
    border-bottom: 1px solid black;
}

.after-tax-prices p{
    margin-bottom: 18px;
}

.checkout-btn{
    margin-bottom: 15px;
}

.checkout-btn button{
    width: 100%;
    padding: 8px 0;
    font-size: 1.3rem;
    color: #fff;
    background-color: black;
    border: none;
    outline: none;
    transition: .3s ease;
    cursor: pointer;
    border-radius: 5px;

}

.checkout-btn button:hover{
    opacity: .8;
}

.order-summary .secure{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
}

.secure h4{
    font-weight: 500;
    font-size: 18px;
}


 


@keyframes slideright {
    0% {
        transform: translateX(-100%);
        opacity: 0; 
    }
    100% {
        transform: translateX(0);
        opacity: 1; 
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .logo{
        font-size: 22px ;
    }
    
    
    #header{
        padding: 19px 20px ;
     
    }

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0;

}

#navbar li{
    padding: 0 4px ;
}

#navbar a{
    font-size: 16px ;
 
}

.cart-quantity{
    position: absolute;
    top: -14px;
    right: -2px;
    font-size: 16px;
}

#hero{
    height: 95vh;
    width: 100%;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 80px;
}

#hero h1,h2,h3,h4{
    max-width: 150px;
}

#hero h1{
    font-size: 20px;

}

#hero h2{
    font-size: 18px;

}

#hero h3{
    font-size: 15px;
    
}

#hero h4,
#hero p{
    font-size: 14px;
}


.highlight {
    font-size: 28px;
}



.shop-btn{
    padding: 8px 10px;
    font-size: 0.8rem;
    width: auto;
}


.shop-btn-women{
    padding: 8px 10px;
    font-size: 0.8rem;

}

#products {
    position: relative;
}

.btnContainer{
    top: 4px;
    right: -10px;    
    margin-bottom: 40px;

}

#showAll{
    width: 100px;
    font-size: 20px;
    padding: 5px;

}

 
#products h1{
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 30px;

}

.second-product-container{
    margin-top: 100px !important;
}

.second-product-containerr{
    margin-top: 130px !important;
}


.product-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0 15px;
    margin-top: 30px;
}

.product{
    padding: 20px 18px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.04);
    transition: .2s ease;
}


.product-container .product img{
    width: 98%;
}

.product h4{
    margin-bottom: 3px;
}

.product h3{
    font-size: 12px;
    margin-top: 6px;
}

.product .description{ 
  margin-left: 4px;
  
}

.icon{
    margin-bottom: 6px;
    margin-top: 6px;
    font-size: 10px;
}


.cart-detail h5{
    font-size: 14px;
}

#products .product .cart {
    font-size: 18px;

}


#special{
    height: 350px;
    padding: 8px;

}

#special h1{
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;

}

#special h2{
    font-size: 20px;
    margin-bottom: 15px;
}


#banner{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2px;

}

#banner .banner-box{
    min-width: 240px;
    margin: 12px;
    border-radius: 18px;
    
}

.banner-box h1{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.banner-box h3{
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
}

.banner-box button{
    padding: 4px 14px;
    font-size: 15px;
    color: #e76f51;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s ease;
}

.banner-box button:hover{
    opacity: .6;
}


.containers{
    padding: 0 10px;
    margin-top: 18px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}

#testimonials{
    padding: 10px;
}

#testimonials h1{
    font-size: 40px;
    margin-bottom: 30px;
}

#testimonials .container{
    max-width: 380px;
}

#testimonials .container .profile{
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#testimonials .container img{
    width: 35px;
    height: 35px;

}

#testimonials .container p{
    font-size: 10px;
}

.container h3{
    font-size: 12px;
    max-width: 150px;
}

#newsletter{
    padding: 22px;
}

#newsletter .row1{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 50px;
}

#newsletter .container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#newsletter .container1 p{
    margin-bottom: 15px;
    font-size: 15px;
}


#newsletter .container .icon{
    margin-right: 5px;
    margin-bottom: 15px;

}

#newsletter .container2 a,
#newsletter .container3 a{
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
}

#newsletter .container2 a{
    font-size: 16px;
}

#newsletter #contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#newsletter #contact p{
    font-size: 15px;
    max-width: 100px;
    text-align: center;
}

#newsletter #contact a{
    color: #fff;
    font-size: 15px;
}

#newsletter .container4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

#newsletter .container4 h1{
    font-size: 25px;
    text-align: center;


}

#newsletter .container4 h2{
    font-size: 15px;
    min-width: 100%;
    text-align: center;
}

#newsletter .container4 h4{
    font-size: 15px;
    text-align: center;

}

#newsletter .container4 span{
    font-size: 23px;
}

#newsletter .container4 input{
    padding: 8px;
    font-size: 12px;
    width: 280px;
    margin-bottom: 8px;
}


#newsletter .container4 button{
    padding: 3px 10px ;
    font-size: 15px;
}


#newsletter .payment-method{
    display: flex;
    align-items: center;
    width: 280px;
    
}


.payment-method .image{
    width: 35px;
    margin-right: 5px;
}

.payment-method h1{
    margin-bottom: 8px;
    font-size: 16px;
}

.payment-method IMG{
    margin-bottom: 8px;
}


#newsletter .footer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#newsletter .icon-container2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.product-detail-container{
    padding-top: 40px;
    border-radius: 5px;
    margin-right:25px;
    margin-left: 25px;
    padding-bottom: 70px;
    margin-top: 90px;
    margin-bottom: 80px;
    align-items: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.product-image-container img{
    max-width: 240px;
    margin-bottom: 10px;

}

.product-detail-container .description-container{
    max-width: 330px;
}

.product-detail-container .description-container p{
    font-size: 16px;
}

.product-detail-container h1{
    font-size: 24px;
    margin-bottom: 6px;
}

.product-detail-container h2{
    font-size: 18px;
}


.product-detail-container #product-price{
    font-size: 20px;
    margin-bottom: 15px;
}

.product-detail-container p{
    margin-bottom: 20px;
}


.color-warning p,
.size-warning p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    margin-bottom: 14px;
}

.warn-icon{
   font-size: 8px;
}


.product-detail-container .options{
    display: flex;
    flex-direction: column;
}

.options label{
    font-size: 18px;
    margin-bottom: 8px;
}


.options select{
    padding: 8px 15px;
    font-size: 12px;
    width: 200px;
}

.options option{
    font-size: 12px;
}

.options #quantity{
    padding: 6px 8px;
    width: 200px;
   
}

.options input{
    font-size: 12px;
    margin-bottom: 20px;
}


.buttons .button{
    padding: 5px 0;
    font-size: 15px;
}


#popup{
    margin-top: 80px;
    padding: 35px 20px;
    position: relative;
    display: flex;
    background-color: #fff;
    position: fixed;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    transform: translate(27%, -14%);
    display: none;
    z-index: 100;

}


.font{
    position: absolute;
    top: 22px;
    right: 15px;
    font-size: 14px;
}

#popup h1{
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}

#popup h3{
    font-size: 0.9rem;
    margin-bottom: 10px;
    margin-left: 38px;
    text-align: center;

}

#popup button{
    padding: 5px 24px;
}

#cart-container{
    padding-top: 80px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 80px;

}


#cart-container .header-title{
    text-align: center;
}

#cart-container .cart-detail-container{
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.main-cart-wrapper {
    display: flex;
    flex-direction: column;
}

.cart-detail-container .main-cart{
    display: flex;
    padding: 0 0;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e76f51;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
    width: 280px;

}

.main-cart .cart-img img{
    width: 70px;
    height: 130px;
    margin-right: 10px;
}


.cart-img .cart-details{
    width: 50px;
    margin-right: 5px;
}


.cart-img .cart-details h3{
    font-size: 0.9rem;
    width: 60px;
}

.cart-img .cart-details h5{
    font-size: 0.9rem;
}

.cart-img .cart-details h4{
    font-size: 0.9rem;

}

.main-cart .second-container{
    display: flex;
    justify-content: space-between;
    column-gap: 0.9rem;
}

.second-container .delete-icon{
    font-size: 15px;
}

.second-container .cart-final-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.8em;
    height: 24px;
    font-size: 0.8rem;
    padding: 5px 6px;
    margin-left: 10px;
}

.second-container .totalPrice{
    font-size: 1rem;
}

.order-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    margin-top: 30px;
    margin-left: 14px;
}

.order-summary h2{
    font-size: 1.4rem;
}

.order-summary .contain{
    font-size: 1.1rem;
    margin-bottom: 12px;
}



.secure h4{
    font-size: 14px;
}


}

@media screen and (min-width: 481px) and (max-width: 575px) {
    .logo{
        font-size: 24px;
    }
    
    
    #header{
        padding: 20px 40px;
     
    }

 
    
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0;

}

#navbar li{
    padding: 0 10px;
}

#navbar a{
    font-size: 16px;
 
}

.cart-quantity{
    position: absolute;
    top: -14px;
    right: 7px;
    font-size: 16px;
}

#hero{
    height: 90vh;
    width: 100%;
    padding: 0 20px;
    margin-top: 60px;
    margin-bottom: 80px;
}

#hero h1,h2,h3,h4{
    max-width: 180px;
}

#hero h1{
    font-size: 22px;

}

#hero h2{
    font-size: 20px;

}

#hero h3{
    font-size: 18px;
    
}

#hero h4,
#hero p{
    font-size: 16px;
}


.highlight {
    font-size: 30px;
}



.shop-btn{
    padding: 8px 10px;
    font-size: 0.8rem;
    width: auto;
}


.shop-btn-women{
    padding: 8px 10px;
    font-size: 0.8rem;

}

#products {
    position: relative;
}

.btnContainer{
    top: 2px;
    right: 7px;    
    margin-bottom: 40px;

}

#showAll{
    width: 100px;
    font-size: 25px;
    padding: 5px;

}

 
#products h1{
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 35px;

}


.product-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0 20px;
    margin-top: 130px;
}

.product{
    padding: 24px 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.04);
    transition: .2s ease;
}


.product-container .product img{
    width: 95%;
}

.product h4{
    margin-bottom: 3px;
}

.product h3{
    font-size: 14px;
    margin-top: 6px;
}

.product .description{ 
  margin-left: 4px;
  
}

.icon{
    margin-bottom: 6px;
    margin-top: 6px;
}


.cart-detail h5{
    font-size: 14px;
}

#products .product .cart {
    font-size: 20px;

}


#special{
    height: 400px;
    padding: 8px;

}

#special h1{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;

}

#special h2{
    font-size: 22px;
    margin-bottom: 15px;
}


#banner{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;

}

#banner .banner-box{
    min-width: 320px;
    margin: 12px;
    border-radius: 18px;
    
}

.banner-box h1{
    font-weight: 700;
    font-size: 22px;
    color: #fff;
}

.banner-box h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

.banner-box button{
    padding: 6px 18px;
    font-size: 20px;
    color: #e76f51;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s ease;
}

.banner-box button:hover{
    opacity: .6;
}


.containers{
    padding: 0 10px;
    margin-top: 18px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}

#testimonials{
    padding: 10px;
}

#testimonials h1{
    font-size: 40px;
    margin-bottom: 30px;
}

#testimonials .container{
    max-width: 400px;
}

#testimonials .container .profile{
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#testimonials .container img{
    width: 40px;
    height: 40px;

}

#testimonials .container p{
    font-size: 10px;
}

.container h3{
    font-size: 15px;
    max-width: 160px;
}

#newsletter{
    padding: 20px;
}

#newsletter .row1{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 50px;
}

#newsletter .container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#newsletter .container1 p{
    margin-bottom: 15px;
    font-size: 18px;
}


#newsletter .container .icon{
    margin-right: 5px;
    margin-bottom: 15px;

}

#newsletter .container2 a,
#newsletter .container3 a{
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
}

#newsletter .container2 a{
    font-size: 16px;
}

#newsletter #contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletter #contact p{
    font-size: 15px;
    max-width: 100px;
}

#newsletter #contact a{
    color: #fff;
    font-size: 15px;
}

#newsletter .container4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

#newsletter .container4 h1{
    font-size: 28px;
    text-align: center;


}

#newsletter .container4 h2{
    font-size: 16px;
    min-width: 100%;
    text-align: center;
}

#newsletter .container4 h4{
    font-size: 16px;
    text-align: center;

}

#newsletter .container4 span{
    font-size: 23px;
}

#newsletter .container4 input{
    padding: 8px;
    font-size: 12px;
    width: 280px;
    margin-bottom: 8px;
}


#newsletter .container4 button{
    padding: 3px 15px;
    font-size: 15px;
}

#newsletter .container4 button:hover{
    opacity: .7;
}



#newsletter .payment-method{
    display: flex;
    align-items: center;
    width: 330px;
    
}

.payment-method .image-container{
    display: flex;
}

.payment-method .image{
    width: 40px;
}

.payment-method h1{
    margin-bottom: 8px;
    font-size: 20px;
}

.payment-method IMG{
    margin-bottom: 8px;
}


#newsletter .footer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#newsletter .icon-container2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.product-detail-container{
    padding-top: 40px;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 70px;
    margin-top: 120px;
    margin-bottom: 80px;
    align-items: center;
    
}

.main-container{
    padding: 0 30px;
   
}

.product-image-container img{
    max-width: 200px;
    margin-bottom: 10px;

}

.product-detail-container .description-container{
    align-items: center;
}

.product-detail-container h1{
    font-size: 25px;
    margin-bottom: 8px;
}

.product-detail-container h2{
    font-size: 18px;
}


.product-detail-container #product-price{
    font-size: 20px;
    margin-bottom: 15px;
}

.product-detail-container p{
    margin-bottom: 20px;
}


.color-warning p,
.size-warning p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-bottom: 14px;
}

.warn-icon{
   font-size: 8px;
}


.product-detail-container .options{
    display: flex;
    flex-direction: column;
}

.options label{
    font-size: 18px;
    margin-bottom: 8px;
}


.options select{
    padding: 8px 15px;
    font-size: 16px;
    width: 220px;
}

.options option{
    font-size: 12px;
}

.options #quantity{
    padding: 8px 10px;
    width: 220px;
   
}

.options input{
    font-size: 12px;
    margin-bottom: 20px;
}


.buttons .button{
    padding: 8px 0;
    font-size: 18px;
}


#popup{
    margin-top: 80px;
    padding: 60px 30px;
    position: relative;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    transform: translate(38%, -10%);
    display: none;
    z-index: 100;

}


.font{
    position: absolute;
    top: 30px;
    right: 20px;
}

#popup h1{
    font-size: 1.3rem;
    margin-bottom: 15px;
    text-align: center;
}

#popup h3{
    font-size: 1.1rem;
    margin-bottom: 15px;
    margin-left: 30px;
    text-align: center;

}

#popup button{
    padding: 8px 30px;
}

#cart-container{
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;

}


#cart-container .header-title{
    text-align: center;
}

#cart-container .cart-detail-container{
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.main-cart-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 70%; 
}

.cart-detail-container .main-cart{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e76f51;
    margin-right: 0;
    width: 400px;

}

.main-cart .cart-img img{
    width: 80px;
    height: 150px;
    margin-right: 12px;
}

.main-cart .cart-img{
    display: flex;
}

.cart-img .cart-details{
    width: 80px;
    margin-right: 5px;
}


.cart-img .cart-details h3{
    font-size: 1rem;
}

.cart-img .cart-details h5{
    font-size: 1rem;
}

.cart-img .cart-details h4{
    font-size: 1rem;

}
.cart-details .more{
    font-size: 1rem;

}

.cart-details .less{
    font-size: 1rem;

}

.main-cart .second-container{
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}

.second-container .cart-final-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.8em;
    height: 30px;
    font-size: 0.8rem;
    padding: 6px 10px;
}

.second-container .totalPrice{
    font-size: 1rem;
}

.order-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-top: 30px;
    margin-left: 12px;
}

.order-summary h2{
    font-size: 1.4rem;
}

.order-summary .contain{
    font-size: 1.2rem;
    margin-bottom: 12px;
}



.secure h4{
    font-size: 16px;
}


}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .logo{
        font-size: 28px;
    }
    
    
    #header{
        padding: 20px 50px;
     
    }

 
    
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0;

}

#navbar li{
    padding: 0 15px;
}

#navbar a{
    font-size: 20px;
 
}

.cart-quantity{
    position: absolute;
    top: -18px;
    right: 7px;
    font-size: 20px;
}

#hero{
    height: 95vh;
    width: 100%;
    padding: 50px;
    margin-top: 60px;
    margin-bottom: 80px;
}

#hero h1,h2,h3,h4{
    max-width: 300px;
}

#hero h1{
    font-size: 30px;

}

#hero h2{
    font-size: 30px;

}

#hero h3{
    font-size: 25px;
    
}

#hero h4,
#hero p{
    font-size: 20px;
}


.highlight {
    font-size: 30px;
}



.shop-btn{
    padding: 10px 12px;
    font-size: 1rem;
    width: auto;
}


.shop-btn-women{
    padding: 10px 12px;
    font-size: 1rem;

}

#products {
    position: relative;
}

.btnContainer{
    top: 3px;
    right: 30px;    
    margin-bottom: 40px;

}

#showAll{
    width: 150px;
    font-size: 35px;
    padding: 8px;

}

 
#products h1{
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 50px;

}


.product-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    padding: 0 40px;
    margin-top: 130px;
}

.product{
    padding: 25px 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.04);
    transition: .2s ease;
}


.product-container .product img{
    width: 95%;
}

.product h4{
    margin-bottom: 5px;
}

.product h3{
    font-size: 14px;
    margin-top: 6px;
}

.product .description{ 
  margin-left: 10px;
  
}

.icon{
    margin-bottom: 6px;
    margin-top: 6px;
}


.cart-detail h5{
    font-size: 16px;
}

#products .product .cart {
    font-size: 25px;

}


#special{
    height: 480px;
    padding: 10px;

}

#special h1{
    font-size: 38px;
    margin-bottom: 20px;
    text-align: center;

}

#special h2{
    font-size: 22px;
    margin-bottom: 18px;
}


#banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px;

}

#banner .banner-box{
    min-width: 350px;
    margin: 18px;
    border-radius: 20px;
    
}

.banner-box h1{
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}

.banner-box h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.banner-box button{
    padding: 8px 25px;
    font-size: 18px;
    color: #e76f51;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s ease;
}


.containers{
    padding: 0 15px;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}

#testimonials{
    padding: 20px;
}

#testimonials h1{
    font-size: 50px;
    margin-bottom: 30px;
}

#testimonials .container{
    max-width: 490px;
}

#testimonials .container .profile{
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#testimonials .container img{
    width: 50px;
    height: 50px;

}

#testimonials .container p{
    font-size: 16px;
}

.container h3{
    font-size: 18px;
    max-width: 220px;
}

#newsletter{
    padding: 25px;
}

#newsletter .row1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 50px;  
}

#newsletter .container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#newsletter #contact p{
    font-size: 20px;
}

#newsletter #contact a{
    font-size: 18px;
}

#newsletter .container4 {
    margin-bottom: 40px;
}


#newsletter .container2 a,
#newsletter .container3 a{
  
    font-size: 18px;
}


#newsletter .payment-method{
    display: flex;
    flex-direction: column;
    width: 400px;
    
    
}

#newsletter .footer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}

.product-detail-container{
    padding-top: 100px;
    margin-bottom: 150px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 60px;
    margin-left: 60px;
    padding-bottom: 90px;
    margin-top: 150px;
    row-gap: 100px;

}

.main-container{
    justify-content: space-between;
   
}

.product-image-container img{
    max-width: 300px;

}

.product-detail-container .description-container{
    max-width: 350px;
}

.product-detail-container .product-image {
    max-width: 50px;
}

.product-detail-container h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 12px;
}

.product-detail-container #product-price{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}

.product-detail-container p{
    max-width: 500px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}

.color-warning,
.size-warning{
    margin-left: 5px;
    display: none;
   
}

.color-warning p,
.size-warning p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 14px;
}


#popup{
    margin-top: 80px;
    padding: 100px 60px;
    max-width: 600px;
    transform: translate(17%, -10%);
    display: none;
    z-index: 100;

}

.font{
    position: absolute;
    top: 50px;
    right: 20px;
}

#popup h1{
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

#popup h3{
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-left: 80px;
}

#popup button{
    padding: 10px 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

#cart-container{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;

}

#cart-container .cart-detail-container{
    margin-top: 25px;
    align-items: flex-start;
   
}

.main-cart-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 70%; 
}


.cart-detail-container .main-cart{
    margin-right: 70px;
    padding: 20px 15px;


}

.main-cart .cart-img img{
    width: 90px;
    height: 150px;
    border-radius: 4px;
    margin-right: 20px;
}

.cart-img .cart-details h3{
    font-size: 1.1rem;
}

.cart-img .cart-details h5{
    font-size: 1.1rem;
 
}

.cart-img .cart-details h4{
    font-size: 1.1rem;
}

.cart-details .more{
    font-size: 1.1rem;
}

.cart-details .less{
    font-size: 1.1rem;
}


.main-cart .second-container{
    column-gap: 2rem;
}

.second-container .cart-final-quantity{
    column-gap: 0.9em;
    height: 32px;
    font-size: 0.9rem;
}

.second-container .totalPrice{
    font-size: 1rem;
}

.order-summary{
    min-width: 260px;
    margin-top: 30px;
    margin-left: -10px;
}


.secure h4{
    font-size: 16px;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo{
        font-size: 30px;
    }
    
    
    #header{
        padding: 25px 60px;
     
    }

 
    
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0;

}

#navbar li{
    padding: 0 15px;
}

#navbar a{
    font-size: 20px;
 
}

.cart-quantity{
    position: absolute;
    top: -18px;
    right: 7px;
    font-size: 22px;
}

#hero{
    height: 95vh;
    width: 100%;
    padding: 60px;
    margin-top: 60px;
    margin-bottom: 80px;
}

#hero h1,h2,h3,h4{
    max-width: 360px;

}

#hero h1{
    font-size: 30px;

}

#hero h2{
    font-size: 34px;

}

#hero h3{
    font-size: 25px;
    
}

#hero h4,
#hero p{
    font-size: 20px;
}


.highlight {
    font-size: 30px;
}



.shop-btn{
    padding: 10px 15px;
    font-size: 1rem;
    width: auto;
}


.shop-btn-women{
    padding: 10px 15px;
    font-size: 1rem;

}

#products {
    position: relative;
}

.btnContainer{
    top: 3px;
    right: 30px;    
    margin-bottom: 40px;

}

#showAll{
    width: 150px;
    font-size: 35px;
    padding: 8px;

}

 
#products h1{
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 50px;

}


.product-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 50px;
    margin-top: 130px;
}

.product{
    padding: 25px 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.04);
    transition: .2s ease;
}


.product-container .product img{
    width: 95%;
}

.product h4{
    margin-bottom: 5px;
}

.product h3{
    font-size: 18px;
    margin-top: 6px;
}

.product .description{ 
  margin-left: 10px;
  
}

.icon{
    margin-bottom: 6px;
    margin-top: 6px;
}


.cart-detail h5{
    font-size: 18px;
}

#products .product .cart {
    font-size: 28px;
}


#special{
    height: 500px;
    padding: 10px;

}

#special h1{
    font-size: 38px;
    margin-bottom: 20px;
    text-align: center;

}

#special h2{
    font-size: 24px;
    margin-bottom: 18px;
}


#banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px;

}

#banner .banner-box{
    min-width: 380px;
    margin: 18px;
    border-radius: 20px;
    
}

.banner-box h1{
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}

.banner-box h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.banner-box button{
    padding: 8px 25px;
    font-size: 18px;
    color: #e76f51;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s ease;
}


.containers{
    padding: 0 15px;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}

#testimonials{
    padding: 20px;
}

#testimonials h1{
    font-size: 50px;
    margin-bottom: 30px;
}

#testimonials .container{
    max-width: 490px;
}

#testimonials .container .profile{
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#testimonials .container img{
    width: 50px;
    height: 50px;

}

#testimonials .container p{
    font-size: 16px;
}

.container h3{
    font-size: 18px;
    max-width: 220px;
}

#newsletter{
    padding: 25px;
}

#newsletter .row1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 50px;  
  }

#newsletter .container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#newsletter #contact p{
    font-size: 20px;
}

#newsletter #contact a{
    font-size: 18px;
}

#newsletter .container4 {
    margin-bottom: 40px;
}


#newsletter .container2 a,
#newsletter .container3 a{
  
    font-size: 18px;
}


#newsletter .payment-method{
    display: flex;
    flex-direction: column;
    width: 400px;
    
    
}

#newsletter .footer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.product-detail-container{
    padding-top: 100px;
    margin-bottom: 150px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 60px;
    margin-left: 60px;
    padding-bottom: 90px;
    margin-top: 150px;
    row-gap: 100px;

}

.main-container{
    justify-content: space-between;
   
}

.product-image-container img{
    max-width: 300px;

}

.product-detail-container .description-container{
    max-width: 350px;
}

.product-detail-container .product-image {
    max-width: 50px;
}

.product-detail-container h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 12px;
}

.product-detail-container #product-price{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}

.product-detail-container p{
    max-width: 500px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}

.color-warning,
.size-warning{
    margin-left: 5px;
    display: none;
   
}

.color-warning p,
.size-warning p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 14px;
}


#popup{
    margin-top: 80px;
    padding: 100px 60px;
    max-width: 600px;
    transform: translate(30%, -10%);
    display: none;
    z-index: 100;

}

.font{
    position: absolute;
    top: 50px;
    right: 20px;
}

#popup h1{
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

#popup h3{
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-left: 80px;
}

#popup button{
    padding: 10px 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

#cart-container{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;

}


#cart-container .cart-detail-container{
    margin-top: 25px;
    align-items: flex-start;
   
}

.main-cart-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 70%; 
}


.cart-detail-container .main-cart{
    margin-right: 70px;
    padding: 20px 15px;


}

.main-cart .cart-img img{
    width: 90px;
    height: 150px;
    border-radius: 4px;
    margin-right: 20px;
}

.cart-img .cart-details h3{
    font-size: 1.1rem;
}

.cart-img .cart-details h5{
    font-size: 1.1rem;
 
}

.cart-img .cart-details h4{
    font-size: 1.1rem;
}

.cart-details .more{
    font-size: 1.1rem;
}

.cart-details .less{
    font-size: 1.1rem;
}


.main-cart .second-container{
    column-gap: 2rem;
}

.second-container .cart-final-quantity{
    column-gap: 0.9em;
    height: 32px;
    font-size: 0.9rem;
}

.second-container .totalPrice{
    font-size: 1rem;
}

.order-summary{
    min-width: 260px;
    margin-top: 30px;
    margin-left: -10px;
}


.secure h4{
    font-size: 16px;
}

}



